<div class="container conversations-wrapper">
  <div class="row">
    <div class="col-sm-3">
      <ul class="dialogs">
        <h4>Диалоги</h4>
        <% @conversations_with_current_user.each do |conversation, sender = User.find(conversation.sender_id), recipient = User.find(conversation.recipient_id)| %>
          <% if current_user == sender %>
            <li>
              <%= link_to conversations_path(conversation_id: conversation.id) do %>
                <%= image_tag puts_avatar(recipient) %><%= recipient.first_name %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to conversations_path(conversation_id: conversation.id) do %>
                <%= image_tag puts_avatar(sender) %><%= sender.first_name %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-9">
      <% if @conversation.is_a?(Conversation) %>
        <div class="chat">
          <div class="head">
            <% if @conversation.sender == current_user %>
              <%= link_to @conversation.recipient do %>
                <%= image_tag puts_avatar(@conversation.recipient) %><%= @conversation.recipient.first_name %>
              <% end %>
            <% else %>
              <%= link_to @conversation.sender do %>
                <%= image_tag puts_avatar(@conversation.sender) %><%= @conversation.sender.first_name %>
              <% end %>
            <% end %>
          </div>
          <div class="chat-body">
            <% @conversation.messages.each do |message, user = User.find(message.user_id)| %>
              <% if user == current_user %>
                <div class="message my-message">
                  <h4 class="name"><%= user.first_name %><span class="date"><%= message.created_at.strftime("%A %H:%M") %></span></h4>
                  <p class="text"><%= message.body %></p>
                </div>
              <% else %>
                <div class="message companion-message">
                  <h4 class="name"><%= user.first_name %><span class="date"><%= message.created_at.strftime("%A %H:%M") %></span></h4>
                  <p class="text"><%= message.body %></p>
                </div>
              <% end %>
            <% end %>
            <div class="message-field">
              <%= form_for [@conversation, @conversation.messages.new], html: {class: "reply-form"} do |f| %>
                <div class="field">
                  <%= f.text_area :body, class: "form-control" %>
                </div>
                <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
                <div>
                  <%= f.submit "Ответить", class: "ui blue labeled submit icon button" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="chat empty">
          Выберите диалог
        </div>
      <% end %>
    </div>
  </div>
</div>
