<head>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="user-window">

          <div class="post-user-products">
            <div class="upside-menu">
              <% if @user.products.count > 0 %>
                <ul class="choose-products-view">
                  <li class="open-products-column"><i class="fas fa-align-justify"></i></li>
                  <li class="open-products-row"><i class="fas fa-th-large"></i></li>
                </ul>
                <% if current_user.present? && current_user == @user %>
                   <%= button_to new_product_path, class: "add-new-product", method: :get do %>
                    Добавить<i class="fas fa-plus"></i>
                   <% end %>
                <% end %>
              <% end %>

            </div>

            <% if @user.products.count > 0 %>
              <div class="post-products-column">
                <%= render partial: "products/post-products-column", :locals => {:show_products => @user.products} %>
              </div>
              <div class="post-products-row">
                <%= render partial: "products/post-products-row", :locals => {:show_products => @user.products} %>
              </div>
            <% else %>
              <div class="vertical-align-text" style="height: calc(100% - 60px);">
                <% if current_user == @user %>
                  <h4 class="empty-text">У вас пока нет объявлений</h4>
                  <%= button_to new_product_path, class: "add-new-product", method: :get do %>
                    Добавить<i class="fas fa-plus"></i>
                  <% end %>
                <% else %>
                  <h4 class="empty-text">У этого пользователя пока нет объявлений</h4>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="post-comments">
            <%= render partial: "post-comments" %>
          </div>

        </div>
      </div>
      <div class="col-sm-3">
        <div class="upside-menu">

        </div>
        <% if current_user.present? %>
          <% if current_user == @user %>
            <button class="btn btn-green btn-sticky-bottom no-margin"><i class="fas fa-pencil-alt"></i>Редактировать</button>
          <% else %>
            <button class="btn btn-green btn-sticky-bottom no-margin">Написать</button>
          <% end %>
        <% end %>
        <div class="user-block">
          <%= image_tag puts_avatar(@user) %>
          <p class="user-name"><%= @user.first_name + " " + @user.last_name %>
          <% if @user.pro != "nil" %>
            <span class='honest'>PRO</span>
          <% end %>
          <p class="user-status">
            <%= puts_status(@user) %>
            <%= image_tag puts_confirmed(@user), class: "confirmed tooltip-hover" %>
          </p>
          <ul class="user-menu">
            <li class="open-user-products"><p>Объявления</p></li>
            <li class="open-user-comments"><p>Отзывы</p></li>
          </ul>
        </div>
        <% if current_user.present? && current_user.id != @user.id %>
          <button class="btn btn-red btn-sticky-top">Пожаловаться</button>
        <% end %>
        <div class="user-block buy-pro">
          <button class="add-new-product open-dialog">Оформить подписку PRO</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="overlay"></div>
<div id="modal_form">
  <div class="head">
    <p>Выберите тарифный план</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="db-wrapper">
          <div class="db-pricing-seven">
            <ul>
              <li class="price"><i class="fas fa-trophy"></i>Первый - 59$/месяц
              </li>
              <li>Первые места в рейтинге</li>
              <li>Более трех участков</li>
              <li>Статистика посещений</li>
              <li>Работа с поселками</li>
            </ul>
            <div class="pricing-footer">
              <%= link_to "Купить", get_pro_url, class: "btn btn-default btn-lg", method: "POST" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="db-wrapper">
          <div class="db-pricing-seven">
            <ul>
              <li class="price"><i class="fas fa-trophy"></i>Второй - 79$/месяц
              </li>
              <li>Первые места в рейтинге</li>
              <li>Более трех участков</li>
              <li>Статистика посещений</li>
              <li>Работа с поселками</li>
            </ul>
            <div class="pricing-footer">
              <a href="#" class="btn btn-default btn-lg">Купить</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="db-wrapper">
          <div class="db-pricing-seven">
            <ul>
              <li class="price"><i class="fas fa-trophy"></i>Лучший - 119$/месяц
              </li>
              <li>Первые места в рейтинге</li>
              <li>Более трех участков</li>
              <li>Статистика посещений</li>
              <li>Работа с поселками</li>
            </ul>
            <div class="pricing-footer">
              <a href="#" class="btn btn-default btn-lg">Купить</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
