

<div class="bg-block">
  <section class="main">
    <h1><%= @product.name %></h1>
    <div class="address">
      <a href="#">Москва</a>,
      <a href="#">ТАО (Троицкий)</a>,
      <% if @product.estate.present? %>
        <%= link_to "#{@product.estate.title}", @product.estate %>,
      <% else %>
        <%= "Название поселка" %>
      <% end %>
      <a id="on-map" href="#">На карте</a>
    </div>
    <ul class="highways">
      <li class="highway"><i class="fas fa-car-alt"></i><a href="#">Киевское шоссе</a>, <span>25 км от МКАД</span></li>
    </ul>
    <div class="fotorama" data-nav="thumbs">
      <%= image_tag @product.avatar.url %>
      <% @product_attachment.each do |attachment| %>
        <%= image_tag attachment.gallery.url %>
      <% end %>
    </div>
    <div class="description">
      <div class="area">
        <h4>Площадь</h4>
        <p><%= @product.square %> сот.</p>
      </div>
      <p><%= @product.description %></p>
      <div class="learn-more">
        <h4>Узнайте больше</h4>
        <p>Задайте интересующие вас вопросы владельцу объявления.</p>
        <button class="show-phone-button">Показать телефон</button>
        <div class="show-phone">
          <h4><%= @user.phone %></h4>
          <p>Пожалуйста, скажите, что нашли это объявление на ZGRD</p>
        </div>
      </div>
    </div>

  </section>
</div>

<section class="general-info">
  <h4>Общая информация</h4>
  <% if @product.gas.present? || @product.electricity.present? || @product.sewerage.present?  %>
    <ul>
      <% if @product.electricity.present? %>
      <li><%= image_tag "light.svg" %>Электричество</li>
      <% end %>
      <% if @product.gas.present? %>
      <li><%= image_tag "gas.svg" %>Газ</li>
      <% end %>
      <% if @product.sewerage.present? %>
      <li><%= image_tag "santech.svg" %>Канализация</li>
      <% end %>
    </ul>
  <% end %>
  <div style="padding: 24px">
    <span class="square">Площадь участка</span>
    <span><%= @product.square %> сот.</span>
  </div>
</section>

<section class="actions">
  <span><a href='#'><i class="fas fa-download"></i>Экспорт</a></span>
  <span><a href='#'><i class="fas fa-print"></i>Печать</a></span>
  <span><a href='#' class="red-link"><i class="fas fa-exclamation-triangle"></i>Пожаловаться</a></span>
</section>

<section class="author">
  <h2>ID <%= show_id(@user.id) %></h2>
  <p><%= show_expirience(@user.created_at) %> на ZGRD</p>
  <span><button class="show-phone-button">Показать телефон</button></span><span><button style="margin-bottom: 15px;" class="write-to-button">Написать сообщение</button></span>
  <div class="show-phone">
    <h4><%= @user.phone %></h4>
    <p>Пожалуйста, скажите, что нашли это объявление на ZGRD</p>
  </div>
</section>
