

<div class="bg-block">
  <section class="main">
    <div class="product-heading">
      <h1><%= @product.name %></h1>
      <% if user_signed_in? && current_user == @product.user %>
        <%= button_to edit_product_path(@product), class: "edit-button vertical-align-text", method: :get do %>
          <i class="fas fa-pencil-alt"></i><%= I18n.t("products.edit") %>
        <% end %>
      <% end %>
    </div>
    <div class="address">
      <a href="#">Москва</a>,
      <a href="#">ТАО (Троицкий)</a>,
      <% if @product.estate.present? %>
        <%= link_to "#{@product.estate.title}", @product.estate %>,
      <% else %>
        <%= "Название поселка" %>
      <% end %>
      <a id="on-map" href="#"><%= I18n.t("products.on-map") %></a>
    </div>
    <ul class="highways">
      <li class="highway"><i class="fas fa-car-alt"></i><a href="#">Киевское шоссе</a>, <span>25 км от МКАД</span></li>
    </ul>

    <div class="fotorama" data-nav="thumbs">
      <%= image_tag @product.avatar.url %>
      <% @product_attachment.each do |attachment| %>
        <%= image_tag attachment.gallery.url %>
      <% end %>
    </div>

    <div class="description">
      <div class="area">
        <h4><%= I18n.t("products.square") %></h4>
        <p><%= @product.square %> <%= I18n.t("products.hundred-metres") %></p>
      </div>
      <p><%= @product.description %></p>
      <div class="learn-more">
        <h4><%= I18n.t("products.card-center.learn-more") %></h4>
        <p><%= I18n.t("products.card-center.ask-seller") %></p>
        <button class="show-phone-button"><%= I18n.t("products.show-phone") %></button>
        <div class="show-phone">
          <h4><%= @user.phone %></h4>
          <p><%= I18n.t("products.say-you-found-it") %></p>
        </div>
      </div>
    </div>

  </section>
</div>

<section class="general-info">
  <h4><%= I18n.t("products.card-center.general-info") %></h4>
  <% if @product.gas.present? || @product.electricity.present? || @product.sewerage.present?  %>
    <ul>
      <% if @product.electricity.present? %>
      <li><%= image_tag "light.svg" %><%= I18n.t("products.electricity") %></li>
      <% end %>
      <% if @product.gas.present? %>
      <li><%= image_tag "gas.svg" %><%= I18n.t("products.gas") %></li>
      <% end %>
      <% if @product.sewerage.present? %>
      <li><%= image_tag "santech.svg" %><%= I18n.t("products.sewerage") %></li>
      <% end %>
    </ul>
  <% end %>
  <div style="padding: 24px">
    <span class="square"><%= I18n.t("products.card-center.square") %></span>
    <span><%= @product.square %> <%= I18n.t("products.hundred-metres") %></span>
  </div>
</section>

<section class="actions">
  <span><a href='#'><i class="fas fa-download"></i><%= I18n.t("products.card-center.export") %></a></span>
  <span><a href='#'><i class="fas fa-print"></i><%= I18n.t("products.card-center.print") %></a></span>
  <span><a href='#' class="red-link"><i class="fas fa-exclamation-triangle"></i><%= I18n.t("profile.complain") %></a></span>
</section>

<section class="author">
  <h2>ID <%= show_id(@user.id) %></h2>
  <p><%= show_expirience(@user.created_at) %> на MyAcre</p>
  <span><button class="show-phone-button"><%= I18n.t("products.show-phone") %></button></span>
  <span><%= button_to I18n.t("products.card-center.write"), conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: "post", class: "write-to-button", style: "margin-bottom: 15px" %></span>
  <div class="show-phone">
    <h4><%= @user.phone %></h4>
    <p><%= I18n.t("products.say-you-found-it") %></p>
  </div>
</section>
