<style>
  .bx-wrapper {
    height: 500px;
    margin: 0;
    padding: 0;
  }
  .bx-viewport {
    height: 100%!important;
  }
  .slider {
    width: 100%;
    height: 800px;
  }
  .slider img {
    width: 100%;
    height: 100%;
  }
</style>

<div class="container">
  <section class="cards">
    <% show_products.each_with_index do |pr, index| %>
      <% if index < 2 %>
        <article class="card">
      <% else %>
        <article class="card">
      <% end %>
        <%= image_tag pr.avatar.url %>
        <div class="description">
          <h5>
            <%= pr.name %>
            <% if pr.hot %>
              <i class="fas fa-fire"></i>
            <% end %>
            <% if current_user.present? && current_user.favorite != nil && current_user.favorite.include?(pr.id) %>
              <i class="fas fa-heart"></i>
            <% else %>
              <i class="fas fa-heart transparent"></i>
            <% end %>
          </h5>
          <p class="text"><%= pr.description[0..420] + "..." %></p>
          <ul class="down-list">
            <li><h3 class="price" ><%= pr.price %>$</h3></li>
            <li><%= link_to "Подробнее", pr, class: "see-more" %></li>
          </ul>
        </div>
      </article>
      <% if index != 0 && index % 8 == 0 %>
        <div class="slider">
          <div><img src="https://remontdizajn.ru/wp-content/uploads/2017/01/529035d3131db74a763961c5ddedf9e5.jpg" /></div>
          <div><img src="http://cdn.resize.sparkplatform.com/ncr/1024x768/true/20180402190011435490000000-o.jpg" /></div>
        </div>
      <% end %>
      <% end %>
    </section>
</div>
