<div class="container">
  <section class="cards">
    <% show_products.each_with_index do |pr, index| %>
      <% if index < 2 %>
        <article class="card">
      <% else %>
        <article class="card">
      <% end %>
        <%= image_tag pr.avatar.url %>
        <div class="description">
          <h5>
            <%= pr.name %>
            <% if pr.hot %>
              <i class="fas fa-fire"></i>
            <% end %>
            <% if user_signed_in? && current_user == pr.user %>
              <%= button_to edit_product_path(pr), class: "edit-product", method: :get do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
            <% end %>
            <% if user_signed_in? && current_user.favorite != nil && current_user.favorite.include?(pr.id) %>
              <i class="fas fa-heart"></i>
            <% else %>
              <i class="fas fa-heart transparent"></i>
            <% end %>
          </h5>
          <p class="text"><%= pr.description[0..420] + "..." %></p>
          <ul class="down-list">
            <li><h3 class="price" ><%= pr.price %>$</h3></li>
            <li><%= link_to "Подробнее", pr, class: "see-more" %></li>
          </ul>
        </div>
      </article>
      <% end %>
    </section>
</div>
