<div class="container">
  <section class="cards">
    <% show_products.each_with_index do |pr, index| %>
      <% if index < 2 %>
        <article class="card">
      <% else %>
        <article class="card">
      <% end %>
        <%= image_tag pr.avatar.url %>
        <div class="description">
          <div class="row full-column">
            <div class="col" style="height: 170px">
              <div class="row">
                <div class="col-sm-5">
                  <h4 class="name"><%= pr.name %></h4>
                  <% if pr.estate.present? %>
                  <h4 class="estate"><%= link_to pr.estate.title, pr.estate %></h4>
                  <% end %>
                </div>
                <div class="col-sm-7">
                  <% if pr.price.present? && pr.square.present? %>
                    <h4 class="price"><%= show_price(pr.price) %></h4>
                    <h4 class="price-for-metre"><%= (pr.price / pr.square / 100).round(2).to_s + "€/м²"  %></h4>
                  <% end %>
                </div>
              </div>
              <p class="text"><%= pr.description[0..535] %></p>
            </div>
            <div class="col-sm-2">
              <h4 class="owner-name"><%= pr.user.first_name.to_s + " " + pr.user.last_name %></h4>
              <% if pr.user.status == "developer" %>
                <h4 class="developer">Застройщик</h4>
              <% end %>
              <% if pr.user.pro == "light" %>
                <h4 class="honest">pro</h4>
              <% end %>
            </div>
            <div class="col-sm-12">
              <% unless controller_name == "users" %>
                <button class="show-phone-button">Показать телефон</button>
                <div class="show-phone" style="display: inline-flex">
                  <h4><%= pr.user.phone %></h4>
                </div>
              <% end %>
              <% if user_signed_in? && current_user.favorite_ids != nil && current_user.favorite_ids.include?("#{pr.id}") %>
                <%= button_to unfavorite_path(:product_id => pr), method: "POST", class: "write-to-button to_favorite unfavorite" do %>
                  Убрать из избранного<i class="fas fa-heart"></i>
                <% end %>
              <% elsif user_signed_in? %>
                <%= button_to favorite_path(:product_id => pr), method: "POST", class: "write-to-button to_favorite favorite" do %>
                  Добавить в избранное<i class="fas fa-heart transparent"></i>
                <% end %>
              <% end %>
              <% if !user_signed_in? %>
                <% session[:favorite] = [] unless session[:favorite].present? %>
                <% if session[:favorite].include?("#{pr.id}") %>
                  <%= button_to unfavorite_path(:product_id => pr), method: "POST", class: "write-to-button to_favorite unfavorite" do %>
                    Убрать из избранного<i class="fas fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= button_to favorite_path(:product_id => pr), method: "POST", class: "write-to-button to_favorite favorite" do %>
                    Добавить в избранное<i class="fas fa-heart transparent"></i>
                  <% end %>
                <% end %>
              <% end %>
              <% if current_user == pr.user %>
                <%= button_to edit_product_path(pr), class: "write-to-button", method: :get do %>
                  Редактировать<i class="fas fa-pencil-alt"></i>
                <% end %>
                <%= button_to product_path(pr), class: "write-to-button", method: :delete do %>
                  Удалить<i class="fas fa-trash-alt"></i>
                <% end %>
              <% else %>
                <button class="write-to-button">Пожаловаться<i class="fas fa-exclamation-triangle transparent"></i></button>
              <% end %>
            </div>
          </div>
        </article>
      <%= render partial: "products/price-difference", :locals => {:product => pr} if defined?(show_price_difference) && show_price_difference == true %>
      <% end %>
    </section>
</div>
