<div class="devise-form">
  <h2>Новый товар</h2>

  <%= form_for @product do |f| %>

  <%= f.label :name %><br/>
  <%= f.text_field :name %><br/>

  <%= f.label :description %><br/>
  <%= f.text_area :description %><br/>

  <%= f.label :price %><br/>
  <%= f.text_field :price %><br/>

  <%= f.label :square %><br/>
  <%= f.text_field :square %><br/>

  <%= f.label :avatar %><br/>
  <%= f.file_field :avatar %><br/>

  <%= f.label :product_attachments %>
  <%= f.fields_for :product_attachments do |p| %>
    <div class="field">
      <%= p.file_field :gallery, :multiple => true, name: "product_attachments[gallery][]" %>
    </div>
  <% end %>

  <%= f.label :gas %><br/>
  <%= f.check_box :gas %><br/>

  <%= f.label :electricity %><br/>
  <%= f.check_box :electricity %><br/>

  <%= f.label :sewerage %><br/>
  <%= f.check_box :sewerage %><br/>



  <%= f.submit %>
  <% end %>
</div>
