<div class="devise-form">
  <h2>Новый товар</h2>

  <%= form_for @product do |f| %>
  <p>Название</p>
  <%= f.text_field :name %><br/>
  <p>Описание</p>
  <%= f.text_area :description %><br/>
  <p>Цена</p>
  <%= f.text_field :price %><br/>
  <p>Площадь</p>
  <%= f.text_field :square %><br/>
  <p>Главная картинка</p>
  <%= f.file_field :avatar %><br/>
  <p>Картинки</p>
  <%= f.fields_for :product_attachments do |p| %>
    <div class="field">
      <%= p.file_field :gallery, :multiple => true, name: "product_attachments[gallery][]" %>
    </div>
  <% end %>
  <p>Газ</p>
  <%= f.check_box :gas %><br/>
  <p>Электричество</p>
  <%= f.check_box :electricity %><br/>
  <p>Канализация</p>
  <%= f.check_box :sewerage %><br/>



  <%= f.submit %>
  <% end %>
</div>
