<script>
  $('[data-toggle="tooltip"]').tooltip();
</script>
<div id="put-email" class="vertical-text-align">
  <%= image_tag "envelope.svg"  %>
  <p><%= I18n.t("footer.subscribe.text") %></p>
  <input placeholder="<%= I18n.t('devise.email') %>"></input>
  <button class="btn-email"><%= I18n.t("footer.subscribe.subscribe") %></button>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-1">
        <ul>
          <li><a href="#"><%= I18n.t("footer.main.special-offers") %></a></li>
          <li><a href="#"><%= I18n.t("footer.main.actions") %></a></li>
          <li><a href="#"><%= I18n.t("footer.main.estates") %></a></li>
          <li><a href="#"><%= I18n.t("footer.main.news") %></a></li>
          <li><a href="#"><%= I18n.t("footer.main.forum") %></a></li>
          <li><a href="#"><%= I18n.t("footer.main.blog") %></a></li>
          <li><a href="#"><%= I18n.t("footer.main.to-advertise") %></a></li>
          <li><a href="#"><%= I18n.t("footer.main.technical-support") %></a></li>
        </ul>
      </div>
      <div class="col-sm-8 col-xs-1">
        <div class="fotorama" id="footer-slider" data-autoplay="true">
           <a href="#"><img src="http://placehold.it/730x224" data-caption="One" ></a>
           <a href="#"><img src="http://placehold.it/730x224" data-caption="Two"></a>
        </div>
      </div>
      <div class="col-sm-2 col-xs-1">
        <div class="buttons">
          <% if user_signed_in? %>
            <button class="peter-river-flat-button"><%= I18n.t("footer.main.my-ads") %></button>
          <% else %>
            <button class="silver-flat-button" data-toggle="tooltip" title="Нужно авторизоваться"><%= I18n.t("footer.main.my-ads") %></button>
          <% end %>
          <button class="peter-river-flat-button"><%= I18n.t("footer.main.submit-your-add") %></button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="lower-footer" style="background: #f4f4f4">
      <ul class="menu">
        <li><%= show_date(Time.now) %></li>
      </ul>
      <ul class="social-networks">
        <li><%= image_tag "google-plus.svg" %></li>
        <li><%= image_tag "facebook.svg" %></li>
        <li><%= image_tag "youtube.svg" %></li>
        <li><%= image_tag "vk.svg" %></li>
      </ul>
    </div>
  </div>
</footer>
