<!DOCTYPE html>
<html>
  <head>
    <title>Zgrd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- width of viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


    <%= stylesheet_link_tag    :application, media: :all %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>

</head>
<body>

  <% if current_page?(root_path) %>
    <%= render partial: "layouts/advertisment" %>
  <% end %>


  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 vvertical-align-text">

        </div>
        <div class="col">
          <div class="row">
            <div class="col" style="padding-right: 0">
              <form class="search">
                <div class="row">
                  <div class="col-sm-9">
                    <input class="search_input"></input>
                  </div>
                  <div class="col-sm-3">
                    <button class="search_button">Найти</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col" style="padding-left: 2px;">
              <ul class="header-menu vertical-align-text">
                <li><a class="vertical-align-text" href="#"><i class="fab fa-telegram-plane"></i>  <%= puts_location(request.remote_ip) %></a></li>
                <li><a class="vertical-align-text" href="/favorite"><i class="fas fa-heart"></i>Отложенные</a></li>
                <li><a class="vertical-align-text" href="#"><i class="fas fa-list-ul"></i>Сравнение</a></li>
                <% if current_user.present? %>
                  <% if current_page?(current_user) %>
                    <li><%= link_to 'Главная', root_path, class: "sign-in-button" %></li>
                  <% else %>
                    <li><%= link_to 'Личный кабинет', current_user, class: "sign-in-button" %></li>
                  <% end %>
                  <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: "sign-in-button" %></li>
                <% else %>
                  <li><%= link_to 'Войти', new_user_session_path, class: "sign-in-button" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-bar">
    <div class="container">
      <ul class="nav-items">
        <li class="dp-trigger" data-index="first"><span class="dp-triangle"></span><a href="#">Электроника</a></li>
        <li class="dp-trigger" data-index="second"><span class="dp-triangle"></span><a href="#">Компьютеры</a></li>
        <li class="dp-trigger" data-index="third"><span class="dp-triangle"></span><a href="#">Бытовая техника</a></li>
        <li class="dp-trigger" data-index="fourth"><span class="dp-triangle"></span><a href="#">Детские товары</a></li>
        <li class="dp-trigger" data-index="fifth"><span class="dp-triangle"></span><a href="#">Зоотовары</a></li>
        <li class="dp-trigger" data-index="sixth"><span class="dp-triangle"></span><a href="#">Одежда, обувь</a></li>
        <li class="dp-trigger" data-index="seventh"><span class="dp-triangle"></span><a href="#">Красота и здоровье</a></li>
      </ul>
    </div>
    <div class="dp-menu">
      <ul class="dp-ul" data-index="first">
        <li><a href="/users/sign_in"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
      </ul>
      <ul class="dp-ul" data-index="second">
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
      </ul>
      <ul class="dp-ul" data-index="third">
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
      </ul>
      <ul class="dp-ul" data-index="fourth">
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
      </ul>
      <ul class="dp-ul" data-index="fifth">
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
      </ul>
      <ul class="dp-ul" data-index="sixth">
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
      </ul>
      <ul class="dp-ul" data-index="seventh">
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Наушники</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Колокольчики</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Мониторы</p></a></li>
      </ul>
    </div>
    <div class="dp-background"></div>
  </div>

  <%= yield %>

  <%= render partial: "layouts/footer"%>
</body>
</html>
