<!DOCTYPE html>
<html>
  <head>
    <title>Zgrd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- width of viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- SliderUI + sliderui.js-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <%= stylesheet_link_tag    :application, media: :all %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>


</head>
<body>

  <% if current_page?(root_path) %>
    <%= render partial: "layouts/advertisment" %>
  <% end %>

  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 vvertical-align-text">

        </div>
        <div class="col">
          <div class="row">
            <div class="col" style="padding-right: 0">
              <form class="search">
                <div class="row">
                  <div class="col-sm-9">
                    <input class="search_input"></input>
                  </div>
                  <div class="col-sm-3">
                    <button class="search_button">Найти</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col" style="padding-left: 2px;">
              <ul class="header-menu vertical-align-text">
                <li><a class="vertical-align-text" href="#"><i class="fab fa-telegram-plane"></i>Москва</a></li>
                <li><a class="vertical-align-text" href="/favorite"><i class="fas fa-heart"></i>Отложенные</a></li>
                <li><a class="vertical-align-text" href="#"><i class="fas fa-list-ul"></i>Сравнение</a></li>
                <% if current_user.present? %>
                  <% if current_page?(current_user) %>
                    <li><%= link_to 'Главная', root_path, class: "sign-in-button" %></li>
                  <% else %>
                    <li><%= link_to 'Личный кабинет', current_user, class: "sign-in-button" %></li>
                  <% end %>
                  <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: "sign-in-button" %></li>
                <% else %>
                  <li><%= link_to 'Войти', new_user_session_path, class: "sign-in-button" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-bar">
    <div class="container">
      <ul class="nav-items">
        <li>
          <a href="#">Электроника</a>
          <ul class="dp-menu">
            <li><a href="#">Web Design</a></li>
	          <li><a href="#">User Experience</a></li>
          </ul>
        </li>
        <li><a href="#">Компьютеры</a></li>
        <li><a href="#">Бытовая техника</a></li>
        <li><a href="#">Детские товары</a></li>
        <li><a href="#">Зоотовары</a></li>
        <li><a href="#">Одежда, обувь</a></li>
        <li><a href="#">Красота и здоровье</a></li>
      </ul>
    </div>
  </div>
  <div class="dp-background"></div>

  <%= yield %>

  <%= render partial: "layouts/footer"%>
</body>
</html>
