<!DOCTYPE html>
<html>
  <head>
    <title>Zgrd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- width of viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


    <%= stylesheet_link_tag    :application, media: :all %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>

</head>
<body>

  <% if current_page?(root_path) %>
    <%= render partial: "layouts/advertisment" %>
  <% end %>


  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 vertical-align-text">
          <%= link_to "ZGRD", root_path, class: "logo" %>
        </div>
        <div class="col">
          <div class="row">
            <div class="col" style="padding-right: 0">
              <form class="search">
                <div class="row">
                  <div class="col-sm-9">
                    <input class="search_input"></input>
                  </div>
                  <div class="col-sm-3">
                    <button class="search_button">Найти</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col" style="padding-left: 2px;">
              <ul class="header-menu vertical-align-text">
                <li><a class="vertical-align-text open-dialog-country" href="#"><i class="fab fa-telegram-plane"></i>  <%= puts_location(request.remote_ip) %></a></li>
                <li><a class="vertical-align-text" href="/favorite"><i class="fas fa-heart"></i>Отложенные</a></li>
                <li><a class="vertical-align-text" href="#"><i class="fas fa-list-ul"></i>Сравнение</a></li>
                <% if current_user.present? %>
                  <% if current_page?(current_user) %>
                    <li><%= link_to 'Главная', root_path, class: "sign-in-button" %></li>
                  <% else %>
                    <li><%= link_to 'Личный кабинет', current_user, class: "sign-in-button" %></li>
                  <% end %>
                  <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: "sign-in-button" %></li>
                <% else %>
                  <li><%= link_to 'Войти', new_user_session_path, class: "sign-in-button" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nav-bar">
    <div class="container">
      <ul class="nav-items">
        <li class="dp-trigger" data-index="first"><span class="dp-triangle"></span><a href="#">Спецпредложения</a></li>
        <li class="dp-trigger" data-index="second"><span class="dp-triangle"></span><a href="#">Акции</a></li>
        <li class="dp-trigger" data-index="third"><span class="dp-triangle"></span><a href="#">Участки</a></li>
        <li class="dp-trigger" data-index="fourth"><span class="dp-triangle"></span><a href="#">Участки с домами </a></li>
        <li class="dp-trigger" data-index="fifth"><span class="dp-triangle"></span><a href="#">Поселки</a></li>
        <li class="dp-trigger" data-index="sixth"><span class="dp-triangle"></span><a href="#">Виллы</a></li>
        <li class="dp-trigger" data-index="seventh"><span class="dp-triangle"></span><a href="#">Земли</a></li>
        <li class="dp-trigger" data-index="eighth"><span class="dp-triangle"></span><a href="#">Инвестпроекты</a></li>
        <li class="dp-trigger" data-index="ninth"><span class="dp-triangle"></span><a href="#">Строительство</a></li>
        <li class="dp-trigger" data-index="tenth"><span class="dp-triangle"></span><a href="#">Арендовать</a></li>
      </ul>
    </div>
    <div class="dp-menu">
      <div class="dp-container container">
        <ul class="dp-ul" data-index="first">
          <li><a href="/users/sign_in"><i class="fas fa-headphones-alt"></i><p>Вторичное предложение</p></a></li>
          <li><a href="#"><i class="far fa-bell"></i><p>Участки в проектах</p></a></li>
        </ul>
      </div>
      <ul class="dp-ul" data-index="second">

      </ul>
      <ul class="dp-ul" data-index="third">
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>У воды</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>В городе</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>В лесу</p></a></li>
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Эксклюзив</p></a></li>
      </ul>
      <ul class="dp-ul" data-index="fourth">
        <li><a href="#"><i class="far fa-bell"></i><p>До 100м²</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>До 200м²</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>До 300м²</p></a></li>
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Более 300м²</p></a></li>
      </ul>
      <ul class="dp-ul" data-index="fifth">
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Коттеджные поселки</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Дачные поселки</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Таунхаусы</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Поселки в лесу</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Поселки у большой воды</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>VIP</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Эко  вилла</p></a></li>
        <li><a href="#"><i class="fas fa-desktop"></i><p>Проекты поселков</p></a></li>
      </ul>
      <ul class="dp-ul" data-index="sixth">
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Статусные</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Исторические</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Резиденции</p></a></li>
      </ul>
      <ul class="dp-ul" data-index="seventh">
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Коммерческие</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Сельхоз назначения</p></a></li>
      </ul>
      <ul class="dp-ul" data-index="eighth">

      </ul>
      <ul class="dp-ul" data-index="ninth">
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Биржа заявок</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Строительство</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Проекты и предложения</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Строительные компании</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Шоурумы</p></a></li>
      </ul>
      <ul class="dp-ul" data-index="tenth">
        <li><a href="#"><i class="fas fa-headphones-alt"></i><p>Участок с домом</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Коттедж</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Вилла</p></a></li>
        <li><a href="#"><i class="far fa-bell"></i><p>Краткосрочно</p></a></li>
      </ul>
    </div>
    <div class="dp-background"></div>
  </div>

  <%= yield %>

  <%= render partial: "layouts/footer"%>
  <%= render partial: "layouts/modal-form-country"%>
</body>
</html>
